<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.uniobuda.nik.felhasznaloi_fiuk" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Guest_Main_menu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Staff_Login"
            android:label="@string/title_activity_staff_login"
            android:parentActivityName=".Guest_Main_menu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Staff_Main_menu" />
        </activity>
        <activity
            android:name=".Staff_Main_menu"
            android:label="@string/title_activity_staff__main_menu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Guest_Meal"
            android:label="@string/title_activity_guest__meal"
            android:parentActivityName=".Guest_Main_menu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hu.uniobuda.nik.felhasznaloi_fiuk.Guest_Main_menu" />
        </activity>
        <activity
            android:name=".Staff_Meal"
            android:label="@string/title_activity_staff__meal"
            android:parentActivityName=".Staff_Main_menu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hu.uniobuda.nik.felhasznaloi_fiuk.Staff_Main_menu" />
        </activity>
        <activity
            android:name=".Tables"
            android:label="@string/title_activity_tables"
            android:parentActivityName=".Staff_Main_menu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hu.uniobuda.nik.felhasznaloi_fiuk.Staff_Main_menu" />
        </activity>
    </application>

</manifest>
